
* {
    margin: 0;
    padding: 0;
}
article {
    width: 100%;
    position: relative;
}
article h1, h2 {
    margin-top: 30px;
    margin-left: 0px;
    font-size: 2rem;
    font-weight: bold;
}
.table-1 {
    border: 1px solid black;
}
.table-1 tbody tr td:hover {
    background-color: #c4c0c0;
}
